<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
  </head>
  <body>
    <h3>To delete this question : <%= question.Question %> <br><br> enter the password</h3>
    <form method="post" action="/answer/<%= question.randomid%>?_method=DELETE">
      <input placeholder="enter admin password to delete" name="password" type="password" size="50" />
      <button>Delete</button>
    </form>
  </body>
</html>