<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>
  </head>
  <body>
    <h3>Fill in the answer for : <%= data.name %> @ <%= data.email %></h3>

    <form method="post" action="/answer/<%= data.id %>?_method=PATCH">
        <p>Fill in the answer below</p>
      <textarea name="Answers" rows="4" cols="50"><%= data.answers %></textarea>
      <br><br>
      <input name="password" placeholder="enter your admin password" type="password" size="50"/>

      <button>Submit</button>
    </form>
  </body>
</html>