<header class="fixed-header">
    <nav class="container">
      <div class="nav-container">
        <a href="http://localhost:8080/" class="logo"><img src="/creative.png" alt="" style="height: 50px; width: 50px;"></a>
        <ul class="nav-links">
          <li><a href="http://localhost:8080/streams">Streams</a></li>
          <li><a href="http://localhost:8080/quiz">Career Quiz</a></li>
          <li><a href="http://localhost:8080/compare">Compare</a></li>
          <li><a href="http://localhost:8080/testimonials">Testimonials</a></li>
          <li><a href="http://localhost:8080/qa">Q&A</a></li>
          <li><a href="http://localhost:8080/scholarships">Scholarships</a></li>
          <li><a href="http://localhost:8080/parents">For Parents</a></li>
        </ul>
        <div class="mobile-menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
  </header>

  <div class="mobile-menu">
    <ul>
      <li><a href="http://localhost:8080/streams">Streams</a></li>
      <li><a href="http://localhost:8080/quiz">Career Quiz</a></li>
      <li><a href="http://localhost:8080/compare">Compare</a></li>
      <li><a href="http://localhost:8080/testimonials">Testimonials</a></li>
      <li><a href="http://localhost:8080/qa">Q&A</a></li>
      <li><a href="http://localhost:8080/scholarships">Scholarships</a></li>
      <li><a href="http://localhost:8080/parents">For Parents</a></li>
    </ul>
  </div>