<header class="fixed-header">
    <nav class="container">
      <div class="nav-container">
        <a href="http://localhost:8080/" class="logo"><img src="/creative.png" alt="" style="height: 60px; width: 60px;"></a>
        <ul class="nav-links">
          <li><a href="http://localhost:8080/streams">Streams</a></li>
          <li><a href="http://localhost:8080/quiz">Career Quiz</a></li>
          <li><a href="http://localhost:8080/testimonials">Testimonials</a></li>
          <li><a href="http://localhost:8080/qa">Q&A</a></li>
          <li><a href="http://localhost:8080/scholarships">Scholarships</a></li>
          <% if (user) { %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            <% if (isAdmin) { %>
              <li><a href="/dashboard">Dashboard</a></li>
            <% } %>
            <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            <% } %>
        </ul>
        <div class="mobile-menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
  </header>

  <div class="mobile-menu">
    <ul>
      <li><a href="http://localhost:8080/streams">Streams</a></li>
          <li><a href="http://localhost:8080/quiz">Career Quiz</a></li>
          <li><a href="http://localhost:8080/testimonials">Testimonials</a></li>
          <li><a href="http://localhost:8080/qa">Q&A</a></li>
          <li><a href="http://localhost:8080/scholarships">Scholarships</a></li>
          <% if (user) { %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            <% if (isAdmin) { %>
              <li><a href="/dashboard">Dashboard</a></li>
            <% } %>
            <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            <% } %>
    </ul>
  </div>